
/*general*/
div.page{
  background-color: #dcf4ff;
  border: solid 1px;
}

#content {
  margin:  10px;
  text-align: justify;
}

/*sections*/
/*js output*/
div.js-output{
  font-family: 'Courier New', monospace;
  background-color: #bfbfbf;
  width: 50%;
  border: solid 1px #000000;
}

/*task based*/
div.task {
  width: 90%;
  align-self: center;
  border-top: solid 0.1px #000000;
}

/*for image captions within the task divs*/
p.caption {
  text-align: left;
  font-size: 13px;
  margin-left: 50px;
}

p.note {
  font-size: 20px;
  margin-right: 50%;
}
/*for screenshots within task divs*/
img.screenshots {
  width: 30%;
  align-self: center;
}
/*for image at the top left*/
img.header {
  width: 50%;
}

/*blue content headers*/
.blue-content {
  background-color: #00ddff;
  margin:  10px;
  border: solid 3px #336699;
  border-radius: 30px;
  text-align: justify;
  width: 50%;
  float: left;
}

.blue-content p{
  margin: 10px
}

.blue-content h3{
  text-align: center;
}

/* to put two divs next to oneanother:*/
#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
/*left hand div*/
#left {
  width: 50%;
  float: hidden;
}
/* right hand div*/
#right {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

/*shapes*/
.trapesium {
  clip-path: polygon(30% 20%, 70% 20%,  100% 100%,  0 100%);
  width = 300px;
  margin:  10px;
  shape-outside: polygon(30% 20%, 70% 20%,  100% 100%,  0 100%);
  display: inline-block;

}

.polygone {
  height: 100vh;
  background-color: #336699;
  clip-path: polygon(0 20%, 100% 0,100% 80%,0 100%);
  position: relative;
}
.in-polygone {
  position: absolute;
  top: 50%;
  left: 20%;
}

/*homepage specific*/
#red-dance {
  width: 99%;
}

#tao {
  text-align: center;
  margin: 20px;
  font-size: 1px
}
