@import "../../css/site.css";

body {
    font-family: 'Helvetica';
}

.btn:hover {
    background-colour: grey;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    animation-name: button-wiggle-colour;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes button-wiggle-colour{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/*
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
*/
